<%= render "shared/header" %>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <p class="font-weight-light">記事を発信しよう</p>
        <p class="lead text-muted">あなただけの記事を書いてみよう</p>
        <h1>
          <%= link_to "新規投稿", "#", class: "text-reset text-decoration-none" %>
        </h1>
      </div>
    </div>
  </section>
</main>

<%= render "shared/footer" %>