<header class='top-page-header'>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
  <%= link_to(root_path, class: "text-reset text-decoration-none") do %>
    <div class="navbar-brand">SHARE LINK</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>
    <div class="collapse navbar-collapse" id="navbarCollapse" id="navbarsExampleDefault">
    </div>
  </div>
</nav>
</header>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

